.clients-section {
    @include section-paddings (60px, 60px);

    @media screen and (min-width: $desctop) {
        @include section-paddings (94px, 94px);
    }
}

.clients {
   @extend %gap-interval;
}

.clients__item {
    flex-basis: calc((100% - 30px) / 2);
    
    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: $desctop) {
        flex-basis: calc((100% - 150px) / 6);
    }
}

.clients__link {
    @include centered-flex;
    color: $icon-color;

    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    fill: currentColor;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;

        
    }

}