.properties {
    @include section-paddings(60px, 60px);

    @media screen and (min-width: $desctop) {
        @include section-paddings(94px, 0);
    }
}

.peculiarities {
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
          
}
.peculiarities__item {
    flex-basis: 100%;
   
    @media screen and (min-width: $tablet) {
       
        flex-basis: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: $desctop) {
             
        flex-basis: calc((100% - 90px) / 4);   
    }
    
}

.peculiarities__image {
    @include centered-flex;
    height: 120px;
    border-radius: 4px;
    background-color: $light-background-color;
    margin-bottom: 30px;

}

.peculiarities__title {
    @include font-style(700, 14px, 1.14);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width: $desctop) {
        text-align: left;
    }
}
.peculiarities__text {
    @include font-style(400, 14px, 1.7);
    color: $additional-text-color;   
}


