.button{
    @include centered-flex;
    @include font-style(700, 16px, 1.87, 0.06em);
    border: none;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    background-color: $accent-color;
    color: $white-color;
    
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            background-color: $active-button-bg-color;
        }
}