.footer {
    @include section-paddings (60px, 60px);
    background-color: $dark-background-color;
}
.footer-container {
    text-align: center;

}
.footer-contacts {
    margin-top: 20px;
    margin-bottom: 60px;
}
.footer-contacts__item {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.footer-contacts {
    @extend %list;

}
.footer-contacts__link {
    @extend %link;
    @include font-style(400, 14px, 1.7);
    font-style: normal;
    display: block;
    
    color: $footer-link-color;
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &--white {
            color: $white-color;
        }
}
.footer-text {
    @include font-style(700, 14px, 1.14);
    text-transform: uppercase;
    
    color: $white-color;
    margin-bottom: 20px;
}
.footer-soc-med {
    @extend %list;
    @include centered-flex;
    margin-bottom: 60px;
}
.soc-med__item {
    &+& {
            margin-left: 10px;
        }
}
.soc-med__link {
    &--footer {
            border-radius: 50px;
            fill: $white-color;
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
}
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.field__label {
    @include font-style(700, 14px, 1.14);
        text-transform: uppercase;
    
        color: $white-color;
        text-align: center;
        margin-bottom: 20px;
}
.field__input {
    @include font-style(400, 16px, 1.25);
        min-width: 450px;
        height: 50px;
        padding: 15px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: $dark-background-color;
        color: rgba(255, 255, 255, 0.6);
      
}
.send-button {
    @extend %button;
    @include centered-flex;
    padding: 31px 10px 28px;
    margin-left: auto;
    margin-right: auto;
    
}
.send-button__icon {
    margin-left: 12px;
}











