.logo {
    display: block;
    @include font-style(700, 24px, 1.17);
    font-family: Raleway, sans-serif;
    padding-top: 24px;
    
    @media screen and (max-width: $pre-tablet) {
        padding-top: 16px;
        padding-bottom: 16px;
        
    }   
}

.logo__name-start {
    color: $accent-color;

}

.logo__name-end {
    &--black {
        color: $main-text-color;
    }

    &--white {
        color: $white-color;
    }
}