.properties {
    @include section-paddings(60px, 60px);

    @media screen and (min-width: $desctop) {
        @include section-paddings(94px, 0);
    }
}

.peculiarities {
   @media screen and (min-width: $tablet) {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     
   }   
}
.peculiarities__item {
    @media screen and (max-width: $mobile) {
        width: 450px;
        &:not(:last-child) {
                margin-bottom: 30px;
            }

    }
   
    @media screen and (min-width: $tablet) {
       
        flex-basis: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: $desctop) {
             
        flex-basis: calc((100% - 90px) / 4);   
    }
    
}

.peculiarities__image {
    padding: 25px 190px;
    height: 120px;
    border-radius: 4px;
    background-color: $light-background-color;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
        padding: 25px 142px;
        
    }
    @media screen and (min-width: $desctop) {
        padding: 25px 100px;
    }

}

.peculiarities__title {
    @include font-style(700, 14px, 1.14);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (min-width: $desctop) {
        text-align: left;
    }
}
.peculiarities__text {
    @include font-style(400, 14px, 1.7);
    color: $additional-text-color;   
}


