.properties {
    @include section-paddings(60px, 60px);
}

.peculiarities {
   @media screen and (min-width: $tablet) {
     display: flex;
     flex-wrap: wrap;
   }
}
.peculiarities__item {
    width: 450px;
    @media screen and (max-width: $mobile) {
        &:not(:last-child) {
                margin-bottom: 30px;
            }
    }
  

    @media screen and (min-width: $tablet) {
        width: 354px;

        &:nth-child(2n+1) {
            margin-right: 30px;
        }
        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }
    
}

.peculiarities__image {
    padding: 25px 190px;
    height: 120px;
    border-radius: 4px;
    background-color: $light-background-color;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
        padding-right: 142px;
        padding-left: 142px;
    }

}

.peculiarities__title {
    @include font-style(700, 14px, 1.14);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.peculiarities__text {
    @include font-style(400, 14px, 1.7);
    color: $additional-text-color;
    
}


