.team-section {
    @include section-paddings(60px, 60px);
    background-color: $light-background-color;
}
.team-section .titles {
    @include font-style (700, 28px, 1.18);
    text-align: center;
    margin-bottom: 30px;
}
.team {
   @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
   }
}

.team__item {
    @media screen and (max-width: $mobile) {
        &:not(:last-child) {
                margin-bottom: 30px;
            }
    }
   
    @media screen and (min-width: $tablet) {
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }
}

.team__content {
    
    background-color: $white-color;
    text-align: center;
    padding-bottom: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team__photo {
    width: 450px;
    height: 460px;
    display: block;
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
        width: 354px;
        height: 374px;
    }
}

.team__name {
    @include font-style(500, 16px, 1.2);
    margin-bottom: 10px;
    
}

.team__position {
    @include font-style(400, 16px, 1.2);
    color: $additional-text-color;
    margin-bottom: 16px;
    

}

.soc-med {
    @include centered-flex;

}

.soc-med__item {
    &+& {
        margin-left: 10px;
    }
}

.soc-med__link {
    
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px 12px;
    
    fill: $icon-color;

}