@mixin centered-flex($type: flex) {
    display: $type;
    align-items: center;
    justify-content: center;
}

@mixin font-style($weight, $size, $line-height, $space: 0.03em) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $space;
}

@mixin section-paddings($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
   
}