$white-color: #FFFFFF;
$black-color: #000000;
$main-text-color: #212121;
$additional-text-color: #757575;
$accent-color: #2196F3;
$active-button-bg-color: #188CE8;
$dark-background-color: #2F303A;
$light-background-color: #F5F4FA;
$hero-background-color: #C4C4C4;
$header-border-color: #ECECEC;
$portfolio-border-color: #EEEEEE;
$icon-color: #AFB1B8;
$footer-link-color: rgba(255, 255, 255, 0.6);